.task-wrapper {
  background-color: aqua;
  margin: 5px;
  padding: 5px;
}
.error {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
}
/* Edit Task */

.edit-task-wrapper label {
  width: 100%;
}
.edit-task-wrapper input {
  width: 100%;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}
.edit-task-wrapper input[type="submit"] {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}
.login-please {
  display: flex;
  justify-content: center;
  height: 55rem;
  align-items: center;
  margin: 24px;
  text-align: center;
}
/* ALL tasks */
.select-day-div {
  background-color: #dcd0ff;
}

.select-day-div li:hover {
  color: #b19cd9;
}
.select-day-div {
}
.create-task-heading,
.tasks-wrapper h3,
.login-heading,
.signup-heading,
.acount-heading {
  display: flex;
  justify-content: center;
}

.selected {
  border-bottom: solid 2px;
  padding: 2px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.selected-day {
  color: #9370db;
}
.name-notes-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 15px;
}
.create-form label {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.create-form input {
  width: 45%;
}
.create-form select {
  padding-bottom: 15px;
  padding-top: 15px;
}
.no-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasks-wrapper {
  height: 65rem;
}
.navbar-wrapper {
  background-color: #9370db;
  color: white;
}
.create-form input[type="submit"] {
  width: 100%;
  margin-top: 15px;
}
.task-wrapper p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.create-form {
  padding: 20px;
}

/* Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
}
.navbar button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.navbar .link {
  color: #fff;
}

.link:hover {
  color: #cec8ef;
}

.navbar-ul {
  display: flex;
  align-items: center;
  margin: 0px;
}
.navbar-ul li {
  margin: 10px;
  list-style: none;
}
/* Login Form */
.login-form-div,
.signup-form-div,
.account-form-div {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 65rem;
  align-items: center;
}
.login-form,
.signup-form,
.account-form {
  width: 80%;
}
.login-form input,
.signup-form input,
.account-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.login-form input[type="submit"],
.signup-form input[type="submit"],
.account-form input[type="submit"] {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.login-form p,
.signup-form p,
.account-form p {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}
/* Homepage */
.homepage-wrapper img {
  width: 100%;
  height: 100%;
}
.banner-container {
  width: 100%;
  height: 300px;
  position: relative;
}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.stack-top {
  z-index: 9;
  background-color: #dcd0ff;
  width: 40%;
  height: 100%;
}
.homepage-heading {
  position: absolute;
  left: 93px;
  z-index: 11;
  color: white;
  /* bottom: 27px; */
  top: 142px;
}
.organize {
  background-color: #7466a4;
  color: white;
  padding: 10px;
}
.organize p {
  display: flex;
  justify-content: center;
}
.schedule h4 {
  display: flex;
  justify-content: center;
  /* margin: 21px; */
}
.schedule {
  background-color: #b19cd9;
  color: white;
  padding: 10px;
}
.plan h4 {
  display: flex;
  justify-content: end;
  /* margin: 21px; */
  margin-right: 20px;
}
.plan {
  background-color: #d2c6f4;
  color: white;
  padding: 10px;
}

/* Footer */
.footer-wrapper {
  background-color: #9370db;
  height: 180px;
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 700px) {
  .login-form,
  .signup-form,
  .account-form {
    width: 50%;
  }
  .select-day-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .select-day-div ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 10px;
    color: white;
  }
  .select-day-div li {
    margin: 0px 15px;
  }

  .all-tasks-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .all-tasks,
  .no-tasks {
    width: 60%;
  }
  .create-form-div {
    width: 40%;
  }
  .banner-container {
    height: 600px;
  }
}

@media (min-width: 1440px) {
  .banner-container {
    height: 720px;
  }
  .homepage-heading {
    left: 284px;
    top: 182px;
  }
  .login-form,
  .signup-form,
  .account-form {
    width: 500px;
  }
}
/* @media (min-width: 1893px) {
  .footer-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
} */
@media (min-width: 2560px) {
  .login-form,
  .signup-form,
  .account-form {
    width: 600px;
  }
  .app-container {
    font-size: 20px;
  }
}
