.task-wrapper {
  background-color: aqua;
  margin: 10px;
}

/* Edit Task */

.edit-task-wrapper label {
  width: 100%;
}
.edit-task-wrapper input {
  width: 100%;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}
.edit-task-wrapper input[type="submit"] {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}
