.task-wrapper {
  background-color: #cdc0f4;
  margin: 5px;
  padding: 5px;
  color: white;
  margin: 15px 10px;
}
.all-tasks {
  margin: 20px 10px;
}
.task-wrapper a {
  color: white;
  border-bottom: solid 2px;
}
.task-wrapper a:hover {
  color: #c0a0ff;
  text-decoration: none;
}
.error {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

/* One Task */
.steps-and-task-container {
  width: 90%;
}
.one-task {
  background-color: #cdc0f4;
  padding: 20px;
  width: 263px;
  margin: auto;
  color: #7859b6;
  color: white;
}

.one-task #button-show-form {
  background: none;
  color: inherit;
  border: none;
  padding: 3px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border: solid 2px;
}
.step-container {
  margin: 50px 0px;
}
.step-container h4 {
  text-align: center;
  font-size: 19px;
  color: #7e758e;
  border-bottom: solid 2px;
  margin: 20px 20px;
  padding: 5px;
}
.notes-div {
  display: block;
  justify-content: center;
  margin-bottom: 40px;
}
.loading-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 180px;
}
.notes-div h4 {
  text-align: center;
  font-weight: normal;
  font-size: 17px;
}
.notes-div p {
  overflow: scroll;
}
.one-task-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.one-task p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.name-heading {
  margin-left: 20px;
}
.one-task a {
  color: white;
  border: solid 2px;
  padding: 3px;
}
.edit-or-show-form-div,
.edit-or-back {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.one-task a:hover,
#button-show-form:hover {
  color: #6642ae;
}
/* Edit Task */
.edit-task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-task-container,
.one-task-wrapper {
  min-height: 90vh;
}
.edit-task-wrapper {
  width: 50%;
}
.edit-task-wrapper label,
.edit-task-wrapper textarea,
.edit-task-wrapper input {
  width: 99%;
  font-size: 16px;
}
.edit-task-wrapper textarea {
  height: 100px;
  overflow: scroll;
}
.edit-task-wrapper input,
.edit-task-wrapper textarea {
  width: 100%;
  margin: 6px 0px;
}
.edit-task-wrapper a {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0px;
  color: #7859b6;
}

.edit-task-wrapper h1 {
  text-align: center;
  font-size: 20px;
}
.edit-task-wrapper input[type="submit"] {
  /* remove default behavior */
  appearance: none;
  -webkit-appearance: none;

  /* usual styles */
  padding: 10px;
  border: none;
  background-color: #7859b6;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}
.login-please {
  display: flex;
  justify-content: center;
  height: 55rem;
  align-items: center;
  margin: 24px;
  text-align: center;
}
.login-please a,
.login-form-div a,
.signup-form-div a {
  color: #7c55cb;
}
/* ALL tasks */

.select-day-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-day-div ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 10px;
  color: white;
  text-align: center;
}

.select-day-div li {
  margin: 0px 15px;
}

.select-day-div {
  background-color: #dcd0ff;
}

.select-day-div li:hover {
  color: #b19cd9;
}
.select-day-div {
}
.new-section {
  margin: inherit;
  padding: 7px 0px;
  border-top: solid 2px;
}
.pre-new-section {
  margin: inherit;
  padding: 7px 0px;
  border-bottom: solid 2px;
}
#Monday {
  margin-top: 10px;
}
#Sunday {
  margin-bottom: 10px;
}
.create-task-heading,
.tasks-wrapper h3,
.login-heading,
.signup-heading,
.acount-heading {
  display: flex;
  justify-content: center;
}
.create-task-wrapper {
  padding: 40px;
}
.selected {
  border-bottom: solid 2px;
  padding: 2px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}
.selected-day {
  color: #9370db;
}
.create-form {
  width: 100%;
  margin: auto;
}
.create-form label {
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.create-form input,
.create-form textarea {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #9370db;
}
.create-form textarea {
  padding: 15px;
  height: 110px;
}
.create-form select {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #9370db;
  border: 1px solid #9370db;
}
.no-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7859b6;
  margin: 300px 20px;
}

.navbar-wrapper {
  background-color: #8a73b3;
  color: white;
}
.create-form input[type="submit"] {
  width: 100%;
  margin-top: 15px;
  background-color: #a487dd;
  color: white;
}
.task-wrapper p {
  align-items: center;
  margin: 10px;
  font-size: 20px;
}

.task-wrapper [type="checkbox"]:checked {
  accent-color: #6642ae;
}

.task-wrapper span {
  display: block;
}
.task-wrapper input {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.create-form {
  border: solid #8a73b3;
  padding: 20px;
  color: #8a73b3;
}

/* Navbar*/
.navbar-wrapper {
  padding: 8px;
}
.link-menu {
  display: flex;
  justify-content: center;
}
.hamburger-icon-div {
  position: absolute;
  top: 11px;
  left: 85%;

  font-size: 30px;
}
.hide-nav {
  display: none;
}
.navbar {
  font-size: 20px;
  align-items: center;
  padding: 10px 20px;
  color: white;
}
.navbar button,
.footer-wrapper button,
.select-day-div button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.navbar .link {
  color: #fff;
}

.link:hover {
  color: #cec8ef;
}
.navbar-ul {
  display: inline-block;
  text-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
}

.navbar-ul li {
  margin: 10px;
  list-style: none;
}
/* Login Form */
.login-stack-top {
  width: 100%;
}
.welcome-div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 20px;
  color: white;
}
.login-banner {
  position: absolute;
  height: 100%;
  top: 195px;
  right: 0;
  padding: 10px;
}
.signup-banner {
  top: 170px;
}

.login-banner-container {
  width: 100%;
  height: 470px;
  position: relative;
}
.signup-banner-container {
  height: 495px;
}
.login-form-div img,
.signup-form-div img {
  width: 100%;
  height: 100%;
}
.signup-form,
.login-form {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.signup-form p,
.login-form p {
  text-shadow: none;
}
.account-form-div {
  display: flex;
  justify-content: center;
  margin: 20px;
  height: 65rem;
  align-items: center;
}
.account-form {
  width: 80%;
}
.login-form input,
.signup-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
}
.account-form input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
.login-form input[type="submit"],
.signup-form input[type="submit"],
.account-form input[type="submit"] {
  background-color: #b19cd9;
  color: white;
  border: none;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.login-form p,
.signup-form p,
.account-form p {
  display: flex;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}
/* Homepage */
.homepage-wrapper img {
  width: 100%;
  height: 100%;
}
.banner-container {
  width: 100%;
  height: 300px;
  position: relative;
}
.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.8;
}
.stack-top {
  z-index: 9;
  background-color: #dcd0ff;
  width: 40%;
  height: 100%;
}
.homepage-heading {
  position: absolute;
  left: 70px;
  z-index: 11;
  color: white;
  /* bottom: 27px; */
  top: 212px;
}
.organize {
  background-color: #7466a4;
  color: white;
  padding: 10px;
}
.organize p {
  display: flex;
  justify-content: center;
}
.schedule h4 {
  display: flex;
  justify-content: center;
  /* margin: 21px; */
}
.schedule {
  background-color: #b19cd9;
  color: white;
  padding: 10px;
}
.plan h4 {
  display: flex;
  justify-content: flex-end;
  /* margin: 21px; */
  margin-right: 20px;
}
.plan {
  background-color: #d2c6f4;
  color: white;
  padding: 10px;
}

/* Footer */
.footer-wrapper {
  background-color: #8a73b3;
  /* height: 180px; */
  display: block;
  justify-content: center;
  padding: 10px;
}
/* .footer-wrapper div {
  width: 100%;
} */
.child-2 {
  padding: 0px 80px;
}
.child-1 p,
.child-3 p {
  font-size: 18px;
  color: white;
}
.child-1,
.child-3 {
  margin: 10px;
}
.child-3 p {
  margin: 0px;
  text-align: center;
}
.child-3 li {
  margin: 8px;
}
.footer-wrapper ul {
  list-style: none;
  text-align: center;
  color: white;
  padding: 10px;
  font-size: 18px;
}

.footer-link {
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer-btn {
  padding: 5px;
  display: flex;
  justify-content: center;
}
.footer-link:hover {
  color: #cec8ef;
}
.footer-selected {
  background-color: #7859b6;
}
.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Quadrents background color */
.Q1 {
  background-color: #8565c6;
}
.Q2 {
  background-color: #a487dd;
}
.Q3 {
  background-color: #7c55cb;
}
.Q4 {
  background-color: #cdc0f4;
}
@media (min-width: 425px) {
  .hamburger-icon-div {
    left: 89%;
  }
  .one-task {
    width: 350px;
  }
}
@media (min-width: 700px) {
  .select-day-div li {
    margin: 0px 10px;
  }
  .create-task-wrapper {
    padding: 20px;
  }
  .new-section {
    margin: none;
    padding: 0px;
    border-top: none;
    border-left: thick double white;
    margin-left: 6px;
    padding-left: 15px;
    /* margin: auto; */
    margin-bottom: auto;
  }
  .pre-new-section {
    margin: none;
    padding: 0px;
    border-right: thick double white;
    border-bottom: none;
    margin-right: 6px;
    padding-right: 15px;
    margin-bottom: auto;
  }
  #Sunday {
    margin-bottom: 0px;
  }
  #Monday {
    margin-top: 0px;
  }
  .long-name {
    font-size: 15px;
    text-align: center;
  }
  .one-task {
    width: 650px;
  }
  .task-wrapper .task-name {
    width: 20%;
    text-align: center;
  }
  .task-wrapper {
    margin: 5px;
  }
  .tasks-wrapper {
    min-height: 65rem;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  .navbar-wrapper {
    padding: 0px;
  }
  .navbar-ul {
    display: block;
    align-items: center;
    margin-top: 0px;
  }
  .hamburger-icon-div {
    display: none;
  }
  .hide-nav,
  .navbar-ul {
    display: flex;
    align-items: center;
    margin: 0px;
  }
  .navbar-ul li,
  .hide-nav li {
    margin: 10px;
    list-style: none;
  }
  .login-stack-top {
    padding: 55px;
    margin: 39px;
    width: 50%;
  }
  .welcome-div {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 15%;
    /* left: 54px; */
    left: 0;
    padding: 55px;
    margin: 39px;
    color: white;
  }
  .login-banner {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    top: 12%;
    /* left: 54px; */
    right: 0;
  }
  .login-banner-container {
    width: 100%;
    height: 1000px;
    position: relative;
  }
  .login-form-div img,
  .signup-form-div img {
    width: 100%;
    height: 100%;
  }
  .footer-wrapper {
    display: flex;
  }
  .footer-wrapper div {
    width: 33%;
  }
  .footer-wrapper ul {
    font-size: 14px;
  }
  .child-2 {
    padding: 0px 40px;
  }
  .child-1 p,
  .child-2 p,
  .child-3 p {
    font-size: 14px;
  }

  .account-form {
    width: 50%;
  }
  .task-wrapper p {
    display: flex;
    justify-content: space-between;
  }

  .select-day-div ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .banner-container {
    height: 600px;
  }
}
@media (min-width: 1024px) {
  .one-task-and-create-form {
    display: flex;
  }
  .one-task-form {
    width: 50%;
  }

  .all-tasks-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .all-tasks,
  .no-tasks {
    width: 75%;
  }
  .create-form-div {
    width: 35%;
  }

  .child-2 {
    padding: 0px 80px;
  }
  .one-task {
    width: 800px;
  }
  .select-day-div li {
    margin: 0px 15px;
  }
}
@media (min-width: 1440px) {
  .banner-container {
    height: 720px;
  }
  .homepage-heading {
    left: 284px;
    top: 182px;
  }
  .login-form,
  .signup-form,
  .account-form {
    width: 500px;
  }
  .child-2 {
    padding: 1px 140px;
  }
}
@media (min-width: 2000px) {
  .homepage-heading {
    left: 662px;
    top: 208px;
    /* font-size: 43px; */
  }
  .footer-wrapper p,
  .footer-wrapper a,
  .footer-wrapper li {
    font-size: 17px;
  }
  .child-1 {
    margin: 20px 30px 10px;
  }
  .create-form {
    padding: 30px;
  }
}
@media (min-width: 2560px) {
  .login-form,
  .signup-form,
  .account-form {
    width: 600px;
  }
  .app-container {
    font-size: 20px;
  }

  .child-2 {
    padding: 1px 305px;
  }
  .banner-container {
    height: 920px;
  }
  .homepage-heading {
    left: 762px;
    top: 208px;
    /* font-size: 43px; */
  }
}
